
body {
   text-align: center;
}
.dark-mode {
    background-color: rgb(48, 44, 44);
    color: white;
    text-align: center;
}
button {
    background-color: antiquewhite;
    border-style: none;
    border-radius: 5px;
    padding:8px
}
ul {
    text-align: center; 
    padding: 0; 
}
li {
    list-style-type: none;
}

a {
    color:white;
    background-color: #065f5f;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
   

}
a:hover {
    transform: scale(1.05);
    transition: transform 0.06s ease-in-out;
}

